<h2>Edit this plant</h2>

<%= form_for @plant do |f|%>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :height%>
  <%= f.text_field :height %>

  <%= f.label :width %>
  <%= f.text_field :width %>

  <%= f.label :season %>
  <%= f.text_field :season %>

  <%= f.label :hardiness %>
  <%= f.text_field :hardiness %>

  <%= f.label :depth %>
  <%= f.text_field :depth %>

  <%= f.label :separation %>
  <%= f.text_field :separation %>

  <%= f.label :watering %>
  <%= f.text_field :watering %>

  <%= f.label :fertilizing %>
  <%= f.text_field :fertilizing %>

  <%= f.label :maturity %>
  <%= f.text_field :maturity %>

  <%= f.label :production %>
  <%= f.text_field :production %>

  <%= f.label :harvest %>
  <%= f.text_field :harvest %>

  <%= f.label :img_url %>
  <%= f.text_field :img_url %>

  <%= f.submit "Save changes"%>

<% end %>

<%= form_for [@season, @plant], method: :delete do |f| %>
  <%= f.submit "Delete!", class: "delete" %>

<% end %>
