<h1>Plant Catalogue</h1>
<h3><%= link_to 'Add a Plant', new_plant_path%></h3>
<% @plants.each do |plant| %>
  <div class="w3-card-4", "plant">

    <div class="w3-container" >
      <img src="<%= plant.img_url %>"/>
      <h2><%= link_to plant.name, plant%> - <%= plant.season.name %></h2>

      <div>
        <div  id="plant_data">Plant Height: <%= plant.height %> in.</div>
        <div id="plant_data">Plant Width: <%= plant.width %> in.</div>
        <div id="plant_data">Hardiness: <%= plant.hardiness %></div>
        <div id="plant_data">Planting Depth: <%= plant.depth %> in.</div>
        <div id="plant_data">Separation: <%= plant.separation %> in.</div>
        <div id="plant_data">Watering: <%= plant.watering %></div>
        <div id="plant_data">Fertilizing: <%= plant.fertilizing %></div>
        <div id="plant_data">Plant Maturity: <%= plant.maturity %> days</div>
        <div id="plant_data">Productive: <%= plant.production %> days</div>
        <div id="plant_data">Harvesting Inst.: <%= plant.harvest %></div>
      </div>
    </div>
  </div>
<% end %>
