<h2>New Plant</h2>

<%= form_for @plant do |f|%>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :height%>
  <%= f.text_field :height %>

  <%= f.label :width %>
  <%= f.text_field :width %>

  <%#= f.select(:season_id, options_for_select(@season_name)) %>

  <%= collection_select(
    :plant,
    :season,

    Season.all,
    :id,
    :name,
    )%>



  <%= f.label :hardiness %>
  <%= f.text_field :hardiness %>

  <%= f.label :depth %>
  <%= f.text_field :depth %>

  <%= f.label :separation %>
  <%= f.text_field :separation %>

  <%= f.label :watering %>
  <%= f.text_field :watering %>

  <%= f.label :fertilizing %>
  <%= f.text_field :fertilizing %>

  <%= f.label :maturity %>
  <%= f.text_field :maturity %>

  <%= f.label :production %>
  <%= f.text_field :production %>

  <%= f.label :harvest %>
  <%= f.text_field :harvest %>

  <%= f.label :img_url %>
  <%= f.text_field :img_url %>

  <%= f.submit "Add to Catalogue" %>
<% end %>
