<!DOCTYPE html>
<html>
  <head>
    <title>Garden Buddy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </head>

  <div class="wrapper">
  <header class="header">
    <div id="head">Garden Buddy</div>
  </header>
  <nav>
    <%= link_to "Seasons", seasons_path %> | <%= link_to "Plant Catalogue", plants_path %>
  </nav>
  <body>

    <aside class="aside aside-1">

    </aside>

    <main class="main">
      <%= yield %>
    </main>
  </body>

  <footer class="footer">Footer
  </footer>
</div>
</html>
