<!DOCTYPE html>
<html>
  <head>
    <title>Garden Buddy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <nav>
      <h2><%= link_to "Seasons", seasons_path %> | <%= link_to "Plant Catalogue", plants_path %> </h2>
    </nav>


    <%= yield %>
  </body>
</html>
